@import url('https://fonts.googleapis.com/css?family=VT323|Slabo+27px');

#canvas {
  border-style: solid;
  border-width: 2px;
  background-image: url("http://wallpaper-gallery.net/images/hd-wallpapers/hd-wallpapers-3.jpg");
  cursor: none;

}

#optionarea {
  font-size: 16px;
}

select {
    border: 1 none;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    width: 150px;
}

